<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_MyMathService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MyMathService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_MyMathService" contract="MyMathService"
                name="BasicHttpBinding_MyMathService" />
        </client>
    </system.serviceModel>
</configuration>